<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beranda</title>
</head>
<body>
<footer class="text-light" th:fragment="footer">
    <div class="container">
        <div class="row g-custom-x">
            <div class="col-lg-3">
                <div class="widget">
                    <h5>Tentang Rentaly</h5>
                    <p>
                        Rentaly adalah solusi sewa kendaraan yang mengutamakan kenyamanan dan harga bersahabat. 
                        Kami hadir untuk membantu masyarakat Indonesia bepergian tanpa ribet dan tetap hemat, 
                        baik untuk perjalanan keluarga, liburan, hingga kebutuhan kerja.
                    </p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Info Kontak</h5>
                    <address class="s1">
                        <span><i class="id-color fa fa-map-marker fa-lg"></i>Jl. Merdeka No. 123, Bandung, Jawa Barat</span>
                        <span><i class="id-color fa fa-phone fa-lg"></i>+62 812 3456 7890</span>
                        <span><i class="id-color fa fa-envelope-o fa-lg"></i><a href="mailto:cs@rentaly.id">cs@rentaly.id</a></span>
                        <span><i class="id-color fa fa-file-pdf-o fa-lg"></i><a href="#">Unduh Brosur Kami</a></span>
                    </address>
                </div>
            </div>

            <div class="col-lg-3">
                <h5>Tautan Cepat</h5>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="widget">
                            <ul>
                                <li><a href="#">Tentang Kami</a></li>
                                <li><a href="#">Artikel</a></li>
                                <li><a href="#">Karier</a></li>
                                <li><a href="#">Berita Terbaru</a></li>
                                <li><a href="#">Gabung Mitra</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="widget">
                    <h5>Ikuti Kami</h5>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-lg"></i></a>
                        <a href="#"><i class="fa fa-instagram fa-lg"></i></a>
                        <a href="#"><i class="fa fa-youtube fa-lg"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <a href="/">© 2025 Rentaly Indonesia</a>
                        </div>
                        <ul class="menu-simple">
                            <li><a href="#">Syarat &amp; Ketentuan</a></li>
                            <li><a href="#">Kebijakan Privasi</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
