<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail Mobil</title>
</head>
<body>
    <h2 th:text="${car.merek} + ' ' + ${car.model}"></h2>
    <ul>
        <li>Plat Nomor: <span th:text="${car.platNomor}"></span></li>
        <li>Harga Sewa per Hari: Rp <span th:text="${car.hargaSewa}"></span></li>
        <li>Transmisi: <span th:text="${car.jenisTransmisi}"></span></li>
        <li>Warna: <span th:text="${car.warna}"></span></li>
        <li>Kursi: <span th:text="${car.jumlahKursi}"></span></li>
        <li>Status: <span th:text="${car.statusKetersediaan}"></span></li>
    </ul>
    <a th:href="@{/rental/form(carId=${car.id})}">Sewa Sekarang</a>
</body>
</html>