<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="frontOffice/fragment/head-fragment :: head-fragment('Rentaly')">
</head>

<body>
<style>
    .cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div id="wrapper">
    <div id="de-preloader"></div>

    <th:block th:replace="frontOffice/fragment/header :: header"></th:block>

    <div class="no-bottom no-top zebra" id="content">
        <div id="top"></div>

        <section id="subheader" class="jarallax text-light">
            <img th:src="@{/images/background/2.jpg}" class="jarallax-img" alt="">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h1>Daftar Mobil Rental</h1>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-cars">
            <div class="container">

                <form th:action="@{/client/cars}" method="GET">
                    <div class="cols">
                        <div class="item_filter_group">
                            <h4>Merek</h4>
                            <div class="de_form">
                                <select name="merek" id="car_merek">
                                    <option value="" selected>Pilih merek</option>
                                    <option value="Toyota" th:selected="${param.merek == 'Toyota'}">Toyota</option>
                                    <option value="Honda" th:selected="${param.merek == 'Honda'}">Honda</option>
                                    <option value="BMW" th:selected="${param.merek == 'BMW'}">BMW</option>
                                    <option value="Mercedes-Benz" th:selected="${param.merek == 'Mercedes-Benz'}">Mercedes-Benz</option>
                                    <option value="Ford" th:selected="${param.merek == 'Ford'}">Ford</option>
                                    <option value="Ford" th:selected="${param.merek == 'Porche'}">Ford</option>
                                    </select>
                            </div>
                        </div>

                        <div class="item_filter_group">
                            <h4>Bahan Bakar</h4>
                            <div class="de_form">
                                <select name="jenisBahanBakar" id="car_jenisBahanBakar">
                                    <option value="" selected>Pilih bahan bakar</option>
                                    <option th:each="fuelType : ${T(com.rental.rentalapp.model.enums.FuelType).values()}"
                                            th:value="${fuelType}"
                                            th:text="${fuelType}"
                                            th:selected="${param.jenisBahanBakar == fuelType.name()}"></option>
                                </select>
                            </div>
                        </div>

                        <div class="item_filter_group">
                            <h4>Transmisi</h4>
                            <div class="de_form">
                                <select name="jenisTransmisi" id="car_jenisTransmisi">
                                    <option value="" selected>Pilih transmisi</option>
                                    <option th:each="transmissionType : ${T(com.rental.rentalapp.model.enums.TransmissionType).values()}"
                                            th:value="${transmissionType}"
                                            th:text="${transmissionType}"
                                            th:selected="${param.jenisTransmisi == transmissionType.name()}"></option>
                                </select>
                            </div>
                        </div>

                        <input class="btn-main" type="submit" value="Filter">
                        <a th:href="@{/client/cars}" class="btn-main">Reset Filter</a>
                    </div>
                </form>

                <th:block th:if="${cars != null and !cars.empty}">
                    <th:block th:each="car : ${cars}">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="de-item-list mb30">
                                    <div class="d-img">
                                        <img th:src="@{'/images/' + ${car.gambar}}" class="img-fluid" th:alt="${car.merek + ' ' + car.model}" />
                                    </div>
                                    <div class="d-info">
                                        <h4 th:text="${car.merek + ' ' + car.model}">Nama Mobil</h4>
                                        <div class="d-atr-group">
                                            <ul class="d-atr">
                                                <li><span>Kursi:</span> <span th:text="${car.jumlahKursi}">5</span></li>
                                                <li><span>Bahan Bakar:</span> <span th:text="${car.jenisBahanBakar}">Bensin</span></li>
                                                <li><span>Transmisi:</span> <span th:text="${car.jenisTransmisi}">Manual</span></li>
                                                <li><span>Warna:</span> <span th:text="${car.warna}">Hitam</span></li>
                                                <li><span>Status:</span> <span th:text="${car.statusKetersediaan.displayName}">Tersedia</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="d-price">
                                        <span>Sewa per hari:</span>
                                        <strong th:text="${'Rp ' + #numbers.formatDecimal(car.hargaSewa, 0, 'POINT', 0, 'COMMA')}">Rp 300.000</strong>
                                        <br/>

                                        <a class="btn-main" th:href="@{'/client/cars/' + ${car.id}}">Lihat Detail</a>                      </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </th:block>

                <div th:if="${cars == null or cars.empty}">
                    <p class="text-center">Tidak ada mobil yang tersedia saat ini.</p>
                </div>

            </div>
        </section>
    </div>

    <a href="#" id="back-to-top"></a>

    <th:block th:replace="frontOffice/fragment/footer :: footer"></th:block>
</div>

<th:block th:replace="frontOffice/fragment/script-fragment :: script-fragment"></th:block>

</body>
</html>